body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sprite {
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #00ff00, #006400); /* Layered green */
  box-shadow: 0 0 5px #0f0; /* Glow effect */
}

.enemy {
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #ff0000, #8b0000); /* Deep red gradient */
  animation: float 2s infinite alternate;
}

.cage {
  position: relative;
  overflow: hidden;
  height: 700px;
  width: 700px;
  background-image: linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 20px 20px;
  border: 1px solid black;
}

.boom {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  background: radial-gradient(circle, #ff0000, #ff8c00, #ffff00);
  animation: pulse 0.5s infinite, colorshift 0.2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes colorshift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
