:root {
  --size: 50px;
  --cage: 800px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rubik Distressed", system-ui;
  font-size: xx-large;
}

.title {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.wall {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-image: linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: var(--size) var(--size);
  background-color: #8b4513;
}

.wall[data-health="1"] {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-image: linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: var(--size) var(--size);
  background-color: #d3702a;
}

.open {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  z-index: 1;
}

.locked {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  z-index: 1;
}

.key {
  width: var(--size);
  height: var(--size);
}

.sprite {
  width: var(--size);
  height: var(--size);
}

.sprite_hit {
  animation: blink 0.3s infinite;
}

#health-display {
  position: absolute;
  top: 6rem;
  left: 3rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}

.keycounter {
  position: absolute;
  top: 10rem;
  left: 7rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}

#messagetext {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20rem;
  left: 1rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
  white-space: pre-line;
}

#timer {
  position: absolute;
  top: 15rem;
  left: 7rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}

#timer.warning {
  color: #ff5555;
  animation: warning 0.5s infinite alternate;
}

#volume-control {
  background-color: #222;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.enemy,
.enemy_2,
.enemy_3,
.enemy_4 {
  position: absolute;
  width: var(--size);
  height: var(--size);
  z-index: 10;
}

.cage {
  position: relative;
  overflow: hidden;
  height: var(--cage);
  width: var(--cage);
  background: #818080cf;
  backdrop-filter: blur(5px);
  border: 1px solid black;
  border-radius: 0.5rem;
}

.boom {
  width: var(--size);
  height: var(--size);
  background: black;
  border-radius: 50%;
  background: radial-gradient(circle, #ff0000, #ff8c00, #ffff00);
  animation: pulse 0.5s infinite, colorshift 0.2s infinite;
}

.explosion {
  background: radial-gradient(circle, #ff4500, #ff8c00);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#menuscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: center/cover url("./assets/startmenu_background.png");
  transition: opacity 1s linear;
  z-index: 999;
}

#gamescreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: center/cover url("./assets/stage1_background.png");
}

#pausescreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa50;
  backdrop-filter: blur(2px) saturate(5.78%) hue-rotate(360deg);
  transition: opacity 0.5s linear;
  z-index: 999;
}

.gameover {
  animation: fadeout 1.5s ease forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes colorshift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
}

@keyframes blink {
  50% {
    opacity: 0.3;
  }
}

@keyframes warning {
  to {
    opacity: 0.8;
  }
}

@keyframes fadeout {
  from {
    background: #fafafa;
  }
  to {
    background: #fafafa;
    opacity: 0;
  }
}
